In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [31]:
data1 = pd.read_csv('sdg_index_2000-2022.csv')

In [33]:
data1

,country_code,country,year,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
0,AFG,Afghanistan,2000,36.0,28.8,27.3,19.2,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2
1,AFG,Afghanistan,2001,36.3,28.8,30.6,19.4,1.6,20.8,32.4,...,38.5,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2
2,AFG,Afghanistan,2002,36.3,28.8,30.7,19.7,1.6,20.8,32.7,...,38.4,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2
3,AFG,Afghanistan,2003,36.7,28.8,32.5,19.9,1.6,20.8,33.0,...,38.4,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2
4,AFG,Afghanistan,2004,37.1,28.8,32.1,21.1,1.6,20.8,33.3,...,38.5,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,ZWE,Zimbabwe,2018,55.9,26.4,46.6,39.8,57.9,76.7,51.6,...,63.8,23.5,32.4,79.2,94.6,94.1,0.0,76.4,45.5,45.6
4136,ZWE,Zimbabwe,2019,53.7,21.4,46.0,40.6,60.6,77.0,51.3,...,62.8,23.8,24.0,58.6,94.6,94.2,0.0,76.4,44.0,44.5
4137,ZWE,Zimbabwe,2020,54.3,20.1,47.2,41.5,62.0,77.0,51.1,...,62.9,25.4,24.0,60.0,94.6,94.3,0.0,76.4,44.6,46.0
4138,ZWE,Zimbabwe,2021,54.8,20.8,48.4,41.9,62.5,77.1,51.1,...,63.1,27.0,24.0,61.2,94.5,94.3,0.0,77.9,43.1,48.1
4139,ZWE,Zimbabwe,2022,55.6,21.5,48.5,41.9,62.5,77.2,51.1,...,63.2,27.0,24.0,65.7,94.5,94.3,0.0,77.9,40.5,47.8

In [46]:
def add_next_year(row):
    current_year = row['year']
    country = row['country']
    if data[(data["country"]==country) & (data["year"]==current_year+1)].shape[0] != 0:
        # print(data[(data["country"]==country) & (data["year"]==current_year+1)]["year"].values[0])
        sdg_index_score_next_year = data[(data["country"]==country) & (data["year"]==current_year+1)]["sdg_index_score"].values[0]
        return sdg_index_score_next_year
    else:
        return pd.NA

In [47]:
data1['sdg_index_score_next_year'] = data1.apply(add_next_year, axis=1)

In [48]:
data1

,country_code,country,year,sdg_index_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score,sdg_index_score_next_year
0,AFG,Afghanistan,2000,36.0,28.8,27.3,19.2,1.6,20.8,32.4,...,5.2,0.0,25.8,94.7,99.4,0.0,51.9,39.2,34.2,36.3
1,AFG,Afghanistan,2001,36.3,28.8,30.6,19.4,1.6,20.8,32.4,...,5.2,0.0,25.8,94.5,99.4,0.0,51.9,39.2,34.2,36.3
2,AFG,Afghanistan,2002,36.3,28.8,30.7,19.7,1.6,20.8,32.7,...,5.2,0.0,26.1,94.1,99.4,0.0,51.8,39.2,34.2,36.7
3,AFG,Afghanistan,2003,36.7,28.8,32.5,19.9,1.6,20.8,33.0,...,5.2,0.0,26.5,94.4,99.4,0.0,51.8,39.2,34.2,37.1
4,AFG,Afghanistan,2004,37.1,28.8,32.1,21.1,1.6,20.8,33.3,...,5.2,0.0,26.8,94.8,99.4,0.0,51.8,39.2,34.2,37.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,ZWE,Zimbabwe,2018,55.9,26.4,46.6,39.8,57.9,76.7,51.6,...,23.5,32.4,79.2,94.6,94.1,0.0,76.4,45.5,45.6,53.7
4136,ZWE,Zimbabwe,2019,53.7,21.4,46.0,40.6,60.6,77.0,51.3,...,23.8,24.0,58.6,94.6,94.2,0.0,76.4,44.0,44.5,54.3
4137,ZWE,Zimbabwe,2020,54.3,20.1,47.2,41.5,62.0,77.0,51.1,...,25.4,24.0,60.0,94.6,94.3,0.0,76.4,44.6,46.0,54.8
4138,ZWE,Zimbabwe,2021,54.8,20.8,48.4,41.9,62.5,77.1,51.1,...,27.0,24.0,61.2,94.5,94.3,0.0,77.9,43.1,48.1,55.6
4139,ZWE,Zimbabwe,2022,55.6,21.5,48.5,41.9,62.5,77.2,51.1,...,27.0,24.0,65.7,94.5,94.3,0.0,77.9,40.5,47.8,<NA>

In [52]:
data1[["country", "year", "sdg_index_score", "sdg_index_score_next_year"]]

          country  year  sdg_index_score sdg_index_score_next_year
0     Afghanistan  2000             36.0                      36.3
1     Afghanistan  2001             36.3                      36.3
2     Afghanistan  2002             36.3                      36.7
3     Afghanistan  2003             36.7                      37.1
4     Afghanistan  2004             37.1                      37.5
...           ...   ...              ...                       ...
4135     Zimbabwe  2018             55.9                      53.7
4136     Zimbabwe  2019             53.7                      54.3
4137     Zimbabwe  2020             54.3                      54.8
4138     Zimbabwe  2021             54.8                      55.6
4139     Zimbabwe  2022             55.6                      <NA>

[4140 rows x 4 columns]

In [13]:
data2 = pd.read_csv('sustainable_development_report_2023.csv')

In [20]:
data2[data2["country"] == "Afghanistan"]

,country_code,country,region,overall_score,goal_1_score,goal_2_score,goal_3_score,goal_4_score,goal_5_score,goal_6_score,...,goal_8_score,goal_9_score,goal_10_score,goal_11_score,goal_12_score,goal_13_score,goal_14_score,goal_15_score,goal_16_score,goal_17_score
157,AFG,Afghanistan,E. Europe & C. Asia,49.005601,12.4105,46.915143,37.486714,34.366,32.92625,50.426,...,39.535,9.724571,NaN,24.494,96.679857,99.034333,NaN,73.2382,44.796182,45.289

In [56]:
from scipy.stats import spearmanr

In [68]:
new_data1 = data1.dropna()

In [69]:
spearman_feats = []
g_target = new_data1["sdg_index_score_next_year"][:-1]
for feat in new_data1.iloc[:, 4:-1].columns:
    g_feat = new_data1[feat][:-1]
    rho, pvalue = spearmanr(g_target, g_feat)
    if rho > .5:
        print(feat, rho)

goal_1_score 0.7682149995632159
goal_2_score 0.6737655852664763
goal_3_score 0.9013410782608755
goal_4_score 0.8537654698966513
goal_5_score 0.7017802945705245
goal_6_score 0.875720900473358
goal_7_score 0.8622221482865852
goal_8_score 0.7393394241265904
goal_9_score 0.8574131915404737
goal_11_score 0.8198748978444463
goal_16_score 0.7626941444522629
goal_17_score 0.6097763162605293

In [73]:
data1.to_csv("sdg_index_2000-2022_TARGET=nextyear.csv", index=False)

In [15]:
data3 = pd.read_csv('global-data-on-sustainable-energy.csv')

In [16]:
data3

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857